.detail{
    overflow:hidden;
    margin-top: 80px;
}
.leftdiv{
    float:left;
    width: 500px;
    padding: 50px;
    padding-bottom: 0px;
}

.rightdiv{
    float:left;
    width: 1000px;
    padding: 30px;
}

#title{
    font-size:30px;
    margin-top: 50px;
}

.slidediv{
    width:100%;
    display:inline-block;
    margin-bottom: 30px;
}

.date{
    display:inline-block;
    margin-right:350px;

}

.overview{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttondiv{
    margin-top: 30px;
    margin-left: 200px;
}
.btn{
    height: 45px;
    width: 150px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: white;
}


.btn:hover{
    background-color:#BED37F ;
    cursor: pointer;
    transform: scale(1.08);
}

.genre{
    margin-left: 15px;
}
@media screen and (max-width: 1079px) {
    .leftdiv{
        margin-left: 350px;
    }
}

@media screen and (max-width: 770px) {
    .detail{
        width: 100vw;
    }
    .leftdiv{
        float:left;
        width: 500px;
        margin-left: 160px;
    }
    
    .rightdiv{
        float:left;
        width: 100vw;
        
    }
    
    #title{
        font-size:30px;
        margin-top: 50px;
    }
    
    .slidediv{
        width:auto;
        display:inline-block;
        margin-bottom: 30px;
    }
    
    .date{
        display:inline-block;
        margin-right:150px;
    
    }
    
    
    .overview{
        width: 95vw;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right:0px;
    }
    
    .buttondiv{
        margin-top: 30px;
        margin-left: 150px;
    }
    .btn{
        margin-left: 20px;
        
    }
    
}


@media screen and (max-width: 440px) {
    .detail{
        width: 100vw;
    }
    .leftdiv{
        float:left;
        width: 400px;
        margin-left: 35px;
    }
    
    .rightdiv{
        float:left;
        width: 100vw;
        
    }
    
    #title{
        font-size:30px;
        margin-top: 50px;
    }
    
    .date{
        display:inline-block;
        margin-right:45px;
    
    }
    
    .overview{
        width: 96vw;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right:0px;
    }
    
    
    .buttondiv{
        margin-top: 30px;
        margin-left: 80px;
    }
    
    
    
  
  
}
